@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Задание на собеседование <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Index">список автомобилей</a>.</p>
</div>
